.databox__page__container__outside{
    margin-left: 299px;
    width: 799px;
    height: 100%;
    background-color: #FFFFFF;
}

.databox__page__container{
    width: 725px;
    margin-left: 36px;
    height: 100%;
}

.databox__title__wrapper{
    height: 207px;
    
}

.databox__title{
    width: 228px;
    transform: translate(0px,116px);
    border: 3px double #0000ff;
}

.databoximg{
    width: 736px;
}